<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<!-- Inicio del header -->
	<header>
		<h1>Bienvenido a Programacion Visual</h1>
		
	</header>
	<!-- Inicio del del nav -->
	<nav>
		<ul>
			<li><a href="https://www.fi.unju.edu.ar/" target="_blank">Fi Unju</a></li>
			<li><a href="https://virtual.unju.edu.ar/" target="_blank">Aula Virtual</a></li>
			<li><a href="https://github.com/AbelNPenhaloza/trabajo_practico_3.git" target="_blank">Repositorio GitHub TP 3</a></li>
				
		</ul>
	</nav>
	<main>
		<!-- Inicio de la primera seccion -->
		<section id="inicio">
			<h2>Objetivo de la Materia</h2>
			<p>Materia de segundo año de la carrera Analista Programador Universitario.
			 Donde el alumno aprendera a desarrollar aplicaciones web de gestión de tareas
			 (como un gestor de tareas personales o de proyectos) utilizando Java con Spring Boot,
			 que incluya diferentes funcionalidades.</p>
			 
			<h3>Docentes</h3>
			<ol>
				<li>Vega Ariel</li>
				<li>Apaza Carolina</li>
				<li>Sosa Gustavo</li>
				<li>Rodriguez Juan</li>
			</ol>
		</section>
		<!-- Inicio de la segunda seccion -->
		<section id="seccion2">
			 <table border="1">
				  <thead>
				  	<h2>Bibliografía Básica Obligatoria</h2>
				    <tr>
				      <th>Titulo</th>
				      <th>Autores</th>
				      <th>Editorial</th>
				      <th>Anio de<br>edicion</th>
				      <th>Ejemplares<br>disponibles</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Orientación a Objetos con JAVA y UML</td>
				      <td>Carlos Fontella</td>
				      <td>Prentice Hall</td>
				      <td>2009</td>
				      <td>2</td>
				    </tr>
				    <tr>
				      <td>Historias de Usuario una visión pragmática</td>
				      <td>Jorge Abad</td>
				      <td></td>
				      <td>2018</td>
				      <td>-</td>
				    </tr>
				    <tr>
				      <td>Como programar JAVA séptima edición</td>
				      <td>Deitel Deitel</td>
				      <td>Pearson Education</td>
				      <td>2008</td>
				      <td>1</td>
				    </tr>
				    <tr>
				      <td>Estructura de Datos en JAVA</td>
				      <td>Luis Joyanes Aguilar</td>
				      <td>Mc Graw Hill</td>
				      <td>2007</td>
				      <td>4</td>
				    </tr>
				  </tbody>
				  
			</table>
		</section>
		<!-- Inicio del aside de la pagina -->
		<aside>
			<h3>Enlaces Adicionales</h3>
			<p> Paginas Web donde puedes encontrar información sobre los temas de la materia.</p>
			<img src="../static/img/img1.png" alt="">
			<div>
	          <h4>Contenido de Apoyo</h4>
	          <ul>
	            <li><a href="#">Algoritmos</a></li>
	            <li><a href="#">Java</a></li>
	            <li><a href="#">Programación Fincional</a></li>
	            <li><a href="#">Spring Boot</a></li>
	          </ul>
	        </div>
		</aside>
	</main>
	<footer>
		<div>
          <h4>Redes sociales</h4>
          <div class="social-links">
            <a href="#">Youtube</a>
            <a href="#">Twitter</a>
            <a href="#">Instragram</a>
            <a href="#"></i>LinkedIn</a>
          </div>
          <p>&copy;2024 Abel_Dev | Todos los derechos reservados</p>
    </footer>
    
</body>
</html>